div#content {
	color: black;
	margin: 0;
	margin-left: 12em;
	padding: 0;
	padding-left: 1em;
	margin-top: 7px; /*Why 7???*/
	border-left: solid 2px black;
}

div#content h2 {
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: center;
}

div#bottomstuff {
	clear: both;
	text-align: center;
}

div#sidebar {
	clear: both;
	float: left;
	margin: 0;
	padding: 1ex;
	margin-top: 5px;
	width: 10em;
}

div#subbar {
	clear: both;
	width: 100%;
	text-align: center;
	font-size: 0.8em;
	border: 1px solid black;
}

#header {
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
	background: yellow;
	border-bottom: solid 1px black;
}

#header h1 {
	text-align: center;
	margin: 0;
}

ul.makeMenu {
	margin: 0;
	padding: 0;
	list-style-type: none;
	/*background-color: #EEEEEE;
	border-top: #3F3849 0px solid;
	border-right: #3F3849 1px solid;
	border-left: #3F3849 1px solid;*/
}

/*Head elements*/
ul.makeMenu li {
	font-size: 2em;
	padding: 0;
	font-size: 13px;
	font-weight: bold;
	/*border-bottom: #3f3849 1px solid;*/
	border: solid 1px black;
	border-bottom: 0;
	margin-bottom: 0.5em;

}

ul.makeMenu li span, ul.makeMenu li a {
	display: block;
	color: green;
	padding: 2px 4px 2px 4px;
 
	color: #3F3849;
	text-decoration: none;
	background-color: rgb(89, 132, 195);
}

ul.makeMenu li a:hover {
	background-color: #FFCC33;
}

/*Child*/
ul.makeMenu li ul {
	padding: 0;
}

ul.makeMenu li ul li {
	display: block;
	list-style-type: none;
	padding: 0 0 0 0;
	margin-left: 0;
	border: 0px;
	border-bottom: solid 1px black;
	margin-bottom: 0;
}

ul.makeMenu li ul li a {
	display: block;
	/*list-style-type: none;*/
	background-color: #EEEEEE;
	/*border: 0px;*/
	/*border-bottom: solid 1px black;*/
}

ul.makeMenu ul li a:hover {
	color: #000000;
	background-color: #FFCC33;
}

/*ul.makeMenu ul {
	background-color: green;
	color: red;
}*/

#sidebar .box  {
	margin-bottom: 5px;
	width: 100%;
}

#sidebar .box  h3 {
	text-align: center;
	margin: 0;
}
