#nav {
	padding-bottom: 3px;
	font-size: 17px;
	border-top: solid #E2E2E2 5px;
	/*border-right: solid #E2E2E2 5px;
	/*-moz-border-radius-topright: 15px;*/
	color: #000000;
	/*height: 1em;*/
	margin-top: 130px;
	/*position: relative;*/
	text-align: center;
}

#nav ol {
	padding: 0;
	margin: 0;
}

#nav li { /* all list items */
	/*float: left;*/
	position: relative;
	list-style: none;
	display: inline;
	/*width: 10em;*/

	padding-left: 25px;
	padding-right: 25px;
	text-align: center;

	/*Mozilla only, css3??*/
	/*-moz-opacity: .9;*/
}

#nav li ol { /* second-level lists */
	display: none;
	float: left;
	position: absolute;
	top: 1em;
	margin-top: 1px;
	left: 25px;
	padding: 0; /* nodig voor ao FFx 1.0 */
	border: solid #A4a4A4 1px;
	background-color: #E5E3E3;
	/*width: 12em;*/
	text-align: left;
}

/*added myself*/
#nav li li {
}

#nav li ol li {
	border: 0;
	border-top: solid #A4a4A4 1px;
	text-align: left;
	padding: 2px;
	
	list-style: none;
}

#nav li ol.ie {
	top: 1em;
}

li>ol { /* to override top and left in browsers other than IE, which will position to the top right of the containing li, rather than bottom left */
	top: auto;
	left: auto;
}

#nav li:hover ol { /* lists nested under hovered list items */
	display: block;
}

/*#nav li.over ol {
	display: block;
	left: -1em;
	margin-top: 3px;
}*/



/* Werkt niet in IE 6*/
#nav li ol li:first-child {
	border-top: 0;
}

#nav a {
	text-decoration: none;
}
